<template name="postItem">

	<article {{#if sticky}}class='sticky'{{/if}}>
		<div class='content'>
			<div class='byline'>
				<h3>{{author}}</h3>  <time datetime='{{isoDate submitted}}' >&hellip;</time> 
			</div>
			{{#if image}}
				<img src='{{image}}' />
			{{/if}}
			{{#markdown}}{{content}}{{/markdown}}
			
			{{#if url}}
			<a href="{{url}}" class='post-link'>Read more <span>({{domain}})</span> &rarr; </a>
			{{/if}}
		</div>
		{{#if currentUser}}<a href="{{postEditPath this}}">Edit</a>{{/if}}

	</article>

</template>