<template name="postSubmit">



  <form>
    <fieldset>
        <legend>New post</legend>

        <div>
            <label for='sticky'>Sticky?</label>
            <input name="sticky" type="checkbox" value="1" />
        </div>

        <div

        <div>
            <label for='url'>Link URL</label>
            <input name="url" type="text" value="" placeholder="post URL" />
        </div>


        <div>
            <label for='content'>Content message</label>
            <textarea name="content" type="text"/>
        </div>

        <div>
            <input type="submit" value="Submit" class="btn btn-primary"/>
        </div>

    </fieldset>

  </form>


</template>